<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>作品一覧 | 英語学習アプリケーション</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1 class="mt-3">作品一覧</h1>
<a href="../index.html" th:href="@{/}">トップページ</a>
<a href="./creationForm.html" th:href="@{/issues/creationForm}">作成</a>
<div style="text-align: left; font-style: italic; margin: 10px 0;">
    ★★このサイトは、日本の文学（小説、エッセイ、詩歌、短歌、俳句、戯曲）を英語で投稿し、他のユーザーの作品を閲覧して和訳したり、または自身で英語での作品を考えて投稿することによって、楽しみながら英語を学ぶためのプラットフォームです★★
</div>
<div class="subtitle">
    <span class="maple-leaf">🍁</span>
    Savor the essence of Japanese literature in English—a journey of rich, poetic beauty!
    <span class="maple-leaf">🍁</span>
</div>
<table class="table">
    <thead>
    <tr>
        <th>識別番号</th>
        <th>概要</th>
        <th>いいね</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issueList}">
        <td th:text="${issue.id}"></td>
        <td>
            <a href="./detail.html" th:href="@{/issues/{issueId}(issueId=${issue.id})}" th:text="${issue.summary}"></a>
        </td>
        <td>
            <form th:action="@{/issues/like/{issueId}(issueId=${issue.id})}" method="post" th:unless="${issue.liked}">
                <button class="like-btn btn btn-outline-primary" type="submit"><span class="heart">&#x2661;</span></button>
            </form>
            <form th:action="@{/issues/unlike/{issueId}(issueId=${issue.id})}" method="post" th:if="${issue.liked}">
                <button class="like-btn btn btn-primary" type="submit"><span class="heart text-white">&#x2665;</span></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>